@{ Layout = "_ConfigurePlugin"; }

<div class="card card-default">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                <a asp-action="Configure" class="btn btn-primary">
                    <i class="fas fa-plus-square"></i>
                    @T("Admin.Common.AddNew")
                </a>
            </div>
        </div>
    </div>
</div>